<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/base}">
<head>
    <title>注册成功</title>
    <th:block layout:fragment="css">
        <link rel="stylesheet" th:href="@{/css/registration-success.css}">
    </th:block>
</head>
<body>
<div layout:fragment="content">
    <section class="container mx-auto px-4 py-16 max-w-xl">
        <div class="card bg-base-100 border border-base-300 shadow-soft">
            <div class="card-body text-center">
                <span class="iconify mx-auto text-success" data-icon="heroicons:check-circle" data-width="80"></span>
                <h1 class="text-2xl font-bold mt-4">注册成功</h1>
                <p class="text-base-content/60 mt-2">账号已创建，可以开始浏览和上传知识图谱。</p>
                <div class="flex flex-col sm:flex-row gap-3 justify-center mt-6">
                    <a th:href="@{/graph/home.html}" class="btn btn-primary">进入首页</a>
                    <a th:href="@{/user/profile}" class="btn btn-outline">完善资料</a>
                </div>
            </div>
        </div>
    </section>
</div>
</body>
</html>
